.transactionHistory {
  width: 800px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 40px;
  border: 5px solid rebeccapurple;
}

.thead {
  background-color: rebeccapurple;
  color: white;
  font-size: 30px;
}

.theadRow {
  text-align: center;
}

.tbody {
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.tbodyRow:nth-child(even) {
  background-color: white;
}

.tbodyRow:hover {
  background-color: darkgrey;
}

td,
th {
  padding: 10px;
  border: 2px solid grey;
}
